<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
    </ngx-spinner>    -->
    <div class="loader_panel" *ngIf="loader == 1" >
		<img src="assets/images/preloader.gif">
	</div>
<div class="login_panel">
  	<div class="login_bx">
      	<div class="login_logo">
        	<img src="assets/images/logo.png" alt=""/>
          </div>
      	<h3>Forgot Password</h3>
  <form [formGroup]="angForm" novalidate (ngSubmit)="formSubmit(angForm.value)">
        <div class="form-group">
            <input class="form-control" formControlName="email" type="text" placeholder="Email"/>
            <div *ngIf="angForm.controls['email'].hasError('required') && (angForm.controls['email'].dirty || angForm.controls['email'].touched || submitted ) " class="text-danger">
              Email is required.
            </div>
            <div *ngIf="!angForm.controls['email'].hasError('required') && angForm.controls['email'].hasError('email')" class="text-danger">
              Please enter valid email.
            </div>
        </div>
        <div class="form-group text-right">
          <a routerLink="/" class="forgot">Login</a>
        </div>
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
  </form>

  </div>
</div>
