

<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
  <ul class="side-menu-list sidebar-menu">

    <li routerLinkActive="active"   >
      <a routerLink="/dashboard">
        <span><i class="fa fa-tachometer"></i><span class="lbl">Dashboard</span></span>
      </a>
   </li>


   <li routerLinkActive="active" >
    <a routerLink="/driver">
      <span><i class="fa fa-list"></i><span class="lbl">Drivers</span></span>
    </a>
   </li>

   <li routerLinkActive="active" >
    <a routerLink="/vehicle">
      <span><i class="fa fa-car"></i><span class="lbl">Vehicle</span></span>
    </a>
   </li>
   <li routerLinkActive="active" >
    <a routerLink="/customer">
      <span><i class="fa fa-user" aria-hidden="true"></i><span class="lbl">Customer</span></span>
    </a>
   </li>





  </ul>

</nav>
