<router-outlet>
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-content">
    <div class="container-fluid">


        <div class="">

          <form [formGroup]="angForm" novalidate (ngSubmit)="formSubmit(angForm.controls['account'].value)" id="passwordUpdate">
                <h4 class="modal-title">Password Change</h4>
              <div formGroupName="account" class="row">
                    <div class="col-sm-12">
                        <div class="form-group  col-sm-8">
                          <label>Password</label>
                            <input type="password" formControlName="password" placeholder="Please enter password"  class="form-control" name="pass"   id="pass">
                             <div *ngIf="angForm.controls['account'].controls['password'].hasError('required') && (angForm.controls['account'].controls['password'].dirty || angForm.controls['account'].controls['password'].touched || submitted ) " class="text-danger">
                              Password is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group  col-sm-8">
                          <label>Confirm password</label>
                            <input type="password" formControlName="password_confirmation" placeholder="Please enter confirm password" class="form-control" name="cpass"   id="cpass">
                              <div *ngIf="angForm.controls['account'].controls['password_confirmation'].hasError('required') && (angForm.controls['account'].controls['password_confirmation'].dirty || angForm.controls['account'].controls['password_confirmation'].touched || submitted )" class="text-danger">
                              Confirm password is required.
                            </div>
                            <div class="text-danger" *ngIf="!angForm.controls['account'].controls['password'].hasError('required') && !angForm.controls['account'].controls['password_confirmation'].hasError('required')  && !angForm.controls['account'].valid || submitted">Password not matched.</div>
                        </div>
                    </div>
                  </div>
                  <!-- sdsd -->
                  <button type="submit" class="btn btn-rounded button-disabled" >Update</button>

        </form>

        </div>
    </div>
</div>

    <!--.page-content-->
    </router-outlet>
